= render 'user_info'

=< link_to 'История покупок', account_orders_path, class: 'uk-button uk-button-emerald uk-margin-top'

=< link_to 'Изменить данные', edit_user_registration_path, class: 'uk-button uk-button-emerald uk-margin-top'

=< link_to 'Изменить данные доставки', shipment_informations_path, class: 'uk-button uk-button-emerald uk-margin-top'
